.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
   border-radius: 35px;
}

.Card {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

}
.btn{
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #282c34;
 color: white; 
 margin-left: 10px;
}
.btn:hover{
 color: #ffffff !important;
background: #f6b93b;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}
.input{
  margin-top: 10px;
  padding: 10px; 
  border-radius: 5px;
  margin-left: 10px;
  /* background-color: grey; */
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
